DATABASE_URL="postgresql://viva:viva_password@localhost:5432/vivadb"
JWT_ACCESS_SECRET="viva-access-secret-change-in-prod-min-32-chars"
JWT_REFRESH_SECRET="viva-refresh-secret-change-in-prod-min-32-chars"
FRONTEND_URL="http://localhost:3000"
PORT=4000
NODE_ENV=development
